.margin-top {
	margin-top: 40px;
}

.adm-panel {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}

.tabs {
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
	padding: 15px;
    margin: 0px;
    border: 0.7px solid #E7DFDA;
}

.tab {
	margin:5px;
}

.block {
    display: none;
    width: 100%;
}

.course-item-content-wrapper-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error-admin-msg {
    display: flex;
    justify-content: center;
    color: red;
}

.admin-title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.admin-panel-title {
    color: #ab9a96;
    font-family: 'Lighthaus';
    font-size: 32px;  
}

.add-entry-button:hover {
    transition: 0.5s;
    font-weight: 600;
    scale: 1.03;
    cursor: pointer;
    color: #ab9a96;
}

.admin-panel-table {
    background-color: white;
    padding: 10px;
}

.table-border {
    padding: 10px;
    border: 0.7px solid #E7DFDA;
    
}

.row-margin {
    margin-bottom: 10px;
}

.admin-btn {
    background-color: #E7DFDA;
    font-family: 'Lighthaus';
    font-size: 14px;
    padding: 5px 15px;
    margin-left: 25px;
    width: 100px;
}

.admin-form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.admin-form-wrapper .white-form {
    width: 60%;
}

.admin-form-wrapper .title{
    margin-bottom: 25px;
}

.group {
    width: 100%;
}

.course-content-wrapper {
    display: flex;
    width: 65%;
    justify-content: space-between;
}


@media screen and (max-device-width: 992px) {
   .admin-panel-table {
    width: 130vw !important;
    overflow-y: scroll;
   }
   .table-border {
    width: 1180px;
   }
   .course-content-wrapper {
        width: 100%;
    }

  
}

@media screen and (max-device-width: 769px) {
   .admin-form-wrapper .white-form {
        width: 90%;
    }

}

@media screen and (max-device-width: 479px) {
    .course-content-wrapper {
        display: flex;
        flex-direction: column;
    }

}

.lesson-item {
    margin-bottom: 5px !important;
}

