/*-------------------COURSES CATALOG BLOCK-------------------*/

.block-9 {
	/*padding-top: 200px;*/
	padding-top: 70px;
}

.course-item-content-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-catalog-content {
	margin-top: 50px;
}

.course-item {
	display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 60px;
}

.course-item-img {
	width: 39%;
}

.course-item-img-2 {
	display: none;
	width: 50%;
}

.course-white-rect {
	background-color: white;
	width: 60%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.course-item-content {
	padding: 35px;
	font-size: 18px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.course-item-title {
	color: #C2B4B1;
	font-family: 'Lighthaus';
	font-size: 32px;
	text-align: center;
	margin-bottom: 40px;
}

.course-item-description {
	text-align: center;
	padding: 0px 45px;
	margin-bottom: 30px;
}

.course-item-advantages {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.item-advantage {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.item-advantage:hover {
	transform: scale(1.05);
	transition: 0.5s all;
}

.price {
	margin-top: 50px;
}


@media screen and (min-device-width: 1500px) {
	
}

@media screen and (max-device-width: 1300px) {
	.course-white-rect {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding-bottom: 25px;
	}
	.course-item-content {
	    flex-direction: row;	    
	}
}	

@media screen and (max-device-width: 992px) {
	.course-item {
		justify-content: center;
		margin-bottom: 40px;
	}
	.course-white-rect {
		width: 80%;
	}
	.course-item-img {
		display: none;
	}
	.course-item-img-2 {
		display: block;
		margin-bottom: 40px;
		width: 100%;
	}
	.course-item-content {
		flex-direction: column;	    
	}
}	

@media screen and (max-device-width: 769px) {
	.course-white-rect {
		width: 100%;
	}
}

@media screen and (max-device-width: 479px) {
	.course-item-description {
		padding: 0px 5px;
	}
	.courses-catalog-content {
		margin-top: 30px;
	}
	

}


.form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-wrapper .white-form {
    width: 60%;
}

.log-in {
	display: flex;
    justify-content: center;
}

.log-in a{
	padding: 0px 10px;
}