
.filters-column {
	background-color: white;
	width: 45%;
	margin-right: 40px;  
}

.filters {
	padding: 0px 10px;
    margin: 10px;
    border: 0.7px solid #E7DFDA;
}

.filter {
    margin: 25px 0px;
}

.filter-title {
	color: #ab9a96;
    font-family: 'Lighthaus';
    font-size: 20px;
}

.filter-item {
	margin: 5px 0px;
}

.courses-column {
	width: 100%;
}

@media screen and (max-device-width: 992px) {
	.filters-column {
		width: 100%;
		margin-right: 0px;  
		margin-bottom: 25px;
	}
	.filters {
		display: flex;
    	justify-content: space-around;
	}
}

@media screen and (max-device-width: 769px) {
	.filters {
        flex-direction: column;
    }
    .filter {
	    margin: 15px 0px;
	}
}

@media screen and (max-device-width: 479px) {
	.filter {
		margin: 5px 0px;
	}
}