/*-------------------COURSES CATALOG BLOCK-------------------*/

.block-9 {
	/*padding-top: 200px;*/
	padding-top: 70px;
}

.course-item-content-wrapper {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-item-content-wrapper-2 {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.course-item-content-wrapper-2 div {
	margin-bottom: 30px;
	text-align: left;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.courses-catalog-content {
	margin-top: 30px;
}

.course-item {
	display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
}

.course-item-img {
	width: 39%;
}

.course-item-img-2 {
	display: none;
	width: 50%;
}

.course-white-rect {
	background-color: white;
	width: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.course-white-rect-2 {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.course-item-content {
	padding: 35px 60px;
	font-size: 18px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: flex-start;
}

.course-item-content-wrapper-2 {
	margin-top: 20px;
}

.course-item-title {
	color: #ab9a96;
    font-family: 'Lighthaus';
	font-size: 24px;
	margin: 15px 0px;
	text-align: left;
}

.course-item-description {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.course-item-schedule {
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.course-item-content .btn {
	margin-top: 0px;
}

.course-item-lessons {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.item-lesson {
	display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

.item-lesson:hover {
	transform: scale(1.05);
	transition: 0.5s all;
}

.course-item-button {
	padding: 12px 35px;
    border-radius: 7px;
    background-color: #E7DFDA;
    font-size: 16px;
    margin-top: 10px;
}

.course-item-content-wrapper {
	width: 100%
}

.log-in a {
    font-weight: 600;
    color: #ab9a96;ы
}

@media screen and (min-device-width: 1500px) {
	
}

@media screen and (max-device-width: 1300px) {
	/*.course-white-rect {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding-bottom: 25px;
	}*/
	/*.course-item-content {
	    flex-direction: row;	    
	}*/
	/*.course-item-img {
		display: none;
	}
	.course-item-img-2 {
		display: block;
	}*/
	.course-item-content-wrapper {
		margin-left: 20px;
	}
}	

@media screen and (max-device-width: 992px) {
	.course-item {
		justify-content: center;
		margin-bottom: 40px;
	}
	.course-white-rect {
		width: 80%;
	}
	.course-item-img-2 {
		display: block;
		margin-top: 20px;
		margin-bottom: 40px;
		width: 100%;
	}
	.course-item-img {
		display: none;
	}
	.course-item-content {
		flex-direction: column;	    
	}
	.course-item-content-wrapper {
		margin-left: 0px;
	}
}	

@media screen and (max-device-width: 769px) {
	.course-white-rect {
		width: 100%;
	}
	.form-wrapper .white-form {
	    width: 100%;
	}
	.course-item-content {
	    padding: 20px;
	}
}

@media screen and (max-device-width: 479px) {
	.course-item-description {
		padding: 0px 5px;
	}
	.courses-catalog-content {
		margin-top: 30px;
	}
	.course-item-content {
		padding: 20px;
	}

}


.add-reg-user-course-btn{
	background-color: #E7DFDA;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 16px;
}

.course-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.course-item-title img{
    margin-left: 10px;
    width: 26px;
    height: auto;
    
}

.rotate {
    transform: rotate(180deg);
}

