.masrers-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}


.masters-info-form {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 10;
    display: none;
    width: 70%;
}

.form-content-2 {
    width: 100%;
}

.master-content-wrapper {
    display: flex;
    padding: 5px 30px;
    align-items: center;
}

.master-card {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.master-card-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.master-card-content div{
    margin: 10px 0px;
}

.master-name {
    color: #ab9a96;
    font-family: 'Lighthaus';
    font-size: 20px;
    margin: 10px 0px;
}

@media screen and (max-device-width: 769px) {
    .master-card-content {
        padding: 20px;
    }
    .master-card-content .card-img{
        width: 100%;
    }
}

@media screen and (max-device-width: 479px) {
    .masters-info-form {
        width: 90%;
        left: 56%;
    }
}


.all-master-courses {
    width: 100%;   
}